.form-group {
  width: 400px;
  float: right;
  border: 5px solid red;
  height: 500px;
  padding: 20px;
  margin-top: 0px;
  padding-top: 10px;
  text-align: left;
}

.btn-primary {
  margin: 10px;
  float: right;
}

.btn-danger {
  margin: 10px;
}

.urlBox {
  border: 1px solid black;
  height: 150px;
  margin: 10px;
  padding: 40px;
}